/* .projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #212121;
}

.projects-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #F56539;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInTitle 0.8s forwards ease-in-out;
}

@keyframes fadeInTitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
}

@media (max-width: 768px) {
    .projects-title {
        font-size: 2.5rem;
    }

    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 480px) {
    .projects-title {
        font-size: 2rem;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }
} */




.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #212121;
}

.projects-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #F56539;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInTitle 0.8s forwards ease-in-out;
}

@keyframes fadeInTitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
}

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projects-title {
        font-size: 2.5rem;
    }

    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 480px) {
    .projects-title {
        font-size: 2rem;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }
}
