.project-card {
    width: 100%;
    height: auto;
    background: #F56539;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 3px solid #4c4c6d;
}

.project-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:auto;
    
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}

.project-desc {
    font-size: 1rem;
    color: #d1d1e0;
    margin-bottom: 1.5rem;
    text-align: center;
}

.project-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1.5rem;
}

.icon {
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s;
}

.icon:hover {
    color: #00df9a;
}

.project-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: #4c4c6d;
    color: #d1d1e0;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .project-img {
        height: 180px;
    }

    .project-title {
        font-size: 1.3rem;
    }

    .project-desc {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .project-img {
        height: 150px;
    }

    .project-title {
        font-size: 1.2rem;
    }

    .project-desc {
        font-size: 0.8rem;
    }
}